<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <springProperty scope="context" name="logLevel" source="logging.level.root"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.dubbo" level="WARN"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} |%-5level| %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.clubfactory.platform.scheduler.server.config.ServerLogFilter"/>
    </appender>

    <!--web层、service层、dao层、error级别日志配置 -->
    <appender name="mainAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_NAME}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%logger{56}.%method:%L|%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.clubfactory.platform.scheduler.server.config.ServerLogFilter"/>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error/${LOG_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/${LOG_NAME}-error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%logger{56}.%method:%L|%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.clubfactory.platform.scheduler.server.config.ServerLogFilter"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="TASKLOGFILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="com.clubfactory.platform.scheduler.engine.config.TaskLogFilter"/>
        <Discriminator class="com.clubfactory.platform.scheduler.engine.config.TaskLogDiscriminator">
            <key>taskAppId</key>
            <logBase>${LOG_PATH}</logBase>
        </Discriminator>
        <sift>
            <appender name="FILE-${taskAppId}" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_PATH}/task_instance/${taskAppId}.log</file>
                <encoder>
                    <pattern>
                        %date{yyyy-MM-dd HH:mm:ss} %msg%n
                    </pattern>
                    <charset>UTF-8</charset>
                </encoder>
                <append>true</append>
            </appender>
        </sift>
    </appender>
    
           <!-- 打印sql占位符-->
     <logger name="jdbc.connection" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="jdbc.resultset" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="jdbc.audit" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="jdbc.sqlonly" additivity="false" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="jdbc.sqltiming" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger> 
    
    <!-- 系统日志 -->
    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="mainAppender"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="TASKLOGFILE" />
    </root>
</configuration>